@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-PlusJakartaSans;
}

@layer components {
  .btn {
    @apply bg-primary-brightBlue text-neutral-light-veryLightSideNavCards  rounded-full 
    hover:bg-primary-btnHover;
  }
}
