@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  min-height: 100vh;
}
body {
  @apply font-PlusJakartaSans;
}

@layer components {
  .btn {
    @apply bg-primary-brightBlue text-neutral-light-veryLightSideNavCards  rounded-full 
    hover:bg-primary-btnHover;
  }
  .card {
    @apply bg-neutral-light-veryLightSideNavCards cursor-pointer rounded-md p-3 w-64 h-24 shadow-md hover:bg-neutral-dark-backgroundSideNavHover;
  }
}
